@import url('https://fonts.googleapis.com/css?family=Arimo|Didact+Gothic|Open+Sans');

html  {
  min-height: 100%;
  page width: 100%;
}

header  {
  background-color: #900000;
  text-align: center;
  display: block;
  margin: 0;
  padding: 3px;
  text-transform: uppercase;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
}

header a, header a:visited  {
  font-family: Arimo;
  font-size: 30pt;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

nav	{
	margin: 0;
	display: block;
  background-color: #C2A457;
}

nav ul	{
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}

nav ul li {
	margin: 0;
	text-align: center;
	color: #000;
}

nav a:hover	{
  background-color: #C9AE6A;
  text-transform: uppercase;
  color: #000;
}

nav ul li a:visited	{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

nav a {
  font-family: Arimo, sans-serif;
  width: 25%;
  font-size: 18pt;
  text-decoration: none;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
}

h1  {
  font-family: Didact Gothic, sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
}

h2  {
  font-family: Open Sans, sans-serif;
  font-size: 13pt;
}

h3  {
  font-family: Open Sans, sans-serif;
  font-size: 11pt;
  font-weight: bold;
}

section a, p	{
  font-family: Open Sans, sans-serif;
  font-size: 11pt;
  color: #000;
  text-align: justify;
}

section ul li	{
	font-family: Open Sans, sans-serif;
  font-size: 11pt;
  color: #000;
  list-style-type: square;
}

iframe	{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border-style: none;
}

footer {
  background-color: #4A4748;
  position: fixed;
  bottom: 1;
  width: 100%;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
}

@media all and (max-width: 720px) {
	html	{
		width: 100%;
	}
}
@media all and (max-width: 550px) {
	nav ul 	{
		flex-direction: column;
	}
	nav ul li {
		text-align: center;
		width: 100%;
		float: none;
	}
	nav a	{
		width: 100%;
	}
}
