@import url('https://fonts.googleapis.com/css?family=Arimo|Didact+Gothic|Open+Sans');

html  {
  min-height: 100%;
  page width: 100%;
}

header  {
  background-color: #900000;
  text-align: center;
  height: 10%;
  text-transform: uppercase;
}

header a, header a:visited  {
  font-family: Arimo;
  font-size: 24pt;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover	{
	
}

nav ul	{
	padding: 0;
}

nav ul li {
  width: 25%;
  float: left;
  list-style-type: none;
  background-color: #C2A457;
  text-transform: uppercase;
  margin: 0px;
  display: block;
  text-align: center;
}

nav ul li a:hover, nav ul li a:active {
  background-color: C9AE6A;
  text-transform: uppercase;
  color: #000;
}

nav ul li a:visited	{
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}

nav a {
  font-family: Arimo, sans-serif;
  font-size: 14pt;
  text-decoration: none;
}

body  {
  
}

h1  {
  font-family: Didact Gothic, sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
}

h2  {
  font-family: Open Sans, sans-serif;
  font-size: 13pt;
}

h3  {
  font-family: Open Sans, sans-serif;
  font-size: 11pt;
  font-weight: bold;
}

section a, p  {
  font-family: Open Sans, sans-serif;
  font-size: 11pt;
  color: #000;
}

footer {
  background-color: #4A4748;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media all and (max-width: 600px) {
	html	{
		width: 100%;
	}
}
@media all and (max-width: 550px) {
	nav ul 	{
		flex-direction: column;
	}
	
	nav ul li a {
		text-align: center;
	}
}
